#map{
  position:absolute;
  width:100%;
  height:500px;
  font-family: times new roman;
}


.infoHeader {
    color: black;
    font-family: "PT Sans", Corbel, sans-serif;
    font-size: 18px
}
.popupImage {
    width: 100%;
    height: 100%;
}
.infoheader {
    color: red;
    font-family: "PT Sans", Corbel, sans-serif;
    font-size: 24px
}
.legend {
    background: white; 
    line-height:1.5em
}
.legend {
    width : 10em; 
    float:left
}
